:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --main-white-color: #FFFFFF;
    --button-color: #F5F4FA;
}
body {
background-color: var(--main-white-color);
color: var(--primary-text-color);
font-family:'roboto';
font-weight: 500;
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
}

/*header*/
.header {
    color: var(--primary-text-color);
}


.logo .accent {
  color: var(--accent-color);
  font-family: raleway;  
}
.logo {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height:  1.2;
    color:var(--primary-text-color)
}

.site-nav-list .list:hover,
.site-nav-list .list:focus {
    color: var(--accent-color);
}
.site-nav-list.link-current{
color:var(--accent-color)
}

.site-nav-list {
font-size: 14px;
line-height: 1.1;}

.list{
color:var(--primary-text-color)}

.site-nav-list .link-current {
    color: var(--accent-color);
}

.contact-list{
    color:var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.1;
}
.email-link {
    color:var(--secondary-text-color)
}
.email-link:hover,
.email-link:focus {
    color:var(--accent-color)
}
.phone-number-link {
    color:var(--secondary-text-color)
}
.phone-number-link:hover,
.phone-number-link:focus {
    color:var(--accent-color)
}

/*main*/

.main-section{
    background-color: var(--main-white-color);
}

.filter-list .button{
    border-style: none;
    background-color: var(--button-color);
    font-size: 16px;
    line-height: 1.6;
    color:var(--primary-text-color);
    font-weight:500;
}

.filter-list .button:hover,
.filter-list .button:focus {
    color:var(--main-white-color);
    background-color:var(--accent-color);
    cursor:pointer;
}


/*секция с изображениями*/

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.portfolio-subtitle {
    color:var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
}

/*footer*/
.footer{
    background-color: #2F303A;
}

.logo-white{
    color:var(--main-white-color)
}

.footer-address:hover,
.footer-address:focus {
    color:var(--accent-color);
}

.footer-address {
    font-style: normal;
    color:var(--main-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.footer-email {
font-style:normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: rgba(255, 255, 255, 0.6);
}

.footer-email:hover,
.footer-email:focus{
    color:var(--accent-color);
}

.footer-phone {
    font-style:normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.footer-phone:hover,
.footer-phone:focus{
    color:var(--accent-color);
}